<section class="mt-3 mb-3 container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div id="description">
          <h1>My Awesome <span>Services</span></h1>
          <p>lskoghalkdsloshdklsnsllskoghalkd
            sloshdklsnsllskoghalkdsloshdklsnsllskoghal
            </p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-sm p-1">Read more</button>
          </div>
          <div class="col-md-9">
            <div class="service-card">
              <i class="fa fa-desktop" aria-hidden="true"></i>
              <br>
              <h4>Web Design & Development</h4>
              <p>lskoghalkdsloshdklsnsllskoghal
                kdsloshdklsnsllskoghalkdslo
                shdklsnsl since 2018.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-sm-12">

          <div class="service-card shadow-lg" style="margin-left: 8em;">
              <i class="fa fa-desktop" aria-hidden="true"></i>
              <br>
              <h4>Web Design & Development</h4>
              <p>lskoghalkdsloshdklsnsllskoghalkdslo
                shdklsnsllskoghalkdsloshdklsnsl since 2018.</p>
          </div>

        <div class="service-card shadow-lg">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <br>
            <h4>Web Design & Development</h4>
            <p>lskoghalkdsloshdklsnsllskoghalkdsloshdkls
              nsllskoghalkdsloshdklsnsl since 2018.</p>
        </div>
      </div>
    </div>
  </section>
