<footer class="p-5">
    <div>
      <div id="arrow-up">
        <a href=""><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
      </div>
      <div id="footer-links" class="text-center">
        <ul>
          <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>

        <p>&copy; Ozor michael. All rights reserved.</p>
      </div>

    </div>
  </footer>
