<section class="mt-5 mb-5">
  <div id="skills" class="container">
    <div id="top-div">
      <h2>My <span>Skills</span></h2>
      <p>lskoghalkdsloshdklsnsllskoghalkd
        sloshdklsnsllskoghalkdsloshdklsnsllskoghal
      </p>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="skill">
          <h4>web development</h4>
          <div class="skill-meassure">
            <div class="skill-progress">20%</div>
          </div>
        </div>
        <div id="skill">
          <h4>web development</h4>
          <div class="skill-meassure">
            <div class="skill-progress">20%</div>
          </div>
        </div>
        <div id="skill">
          <h4>web development</h4>
          <div class="skill-meassure">
            <div class="skill-progress">20%</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div id="skill">
              <h4>web development</h4>
              <div class="skill-meassure">
                <div class="skill-progress">20%</div>
              </div>
            </div>
            <div id="skill">
              <h4>web development</h4>
              <div class="skill-meassure">
                <div class="skill-progress">20%</div>
              </div>
            </div>
            <div id="skill">
              <h4>web development</h4>
              <div class="skill-meassure">
                <div class="skill-progress">20%</div>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>
