<header class="">
    <!-- Image and text -->
  <nav class="navbar navbar-light container">
      <a class="navbar-brand text-light" href="#">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Bootstrap
      </a>
      <div id="navigations">
          <ul class="list-inline">
            <li class="list-unstyled list-inline"><a href="" class="text-light">Home</a></li>
            <li class="list-unstyled list-inline"><a href="" class="text-light">About Me</a></li>
            <li class="list-unstyled list-inline"><a href="" class="text-light">Services</a></li>
            <li class="list-unstyled list-inline"><a href="" class="text-light">Portfolio</a></li>
            <li class="list-unstyled list-inline"><a href="" class="text-light">contact</a></li>
          </ul>
      </div>
    </nav>
    <!-- <nav class="nav navbar-default">
      <div id="logo" class="navbar-brand">Mylogo</div>
      <div id="navigations">
        <ul class="navbar-nav">
          <li class="list-unstyled list-inline"><a href="" class="text-light">Home</a></li>
          <li class="list-unstyled list-inline"><a href="" class="text-light">About Me</a></li>
          <li class="list-unstyled list-inline"><a href="" class="text-light">Services</a></li>
          <li class="list-unstyled list-inline"><a href="" class="text-light">Portfolio</a></li>
          <li class="list-unstyled list-inline"><a href="" class="text-light">contact</a></li>
        </ul>
      </div>
    </nav> -->
  </header>
