<div id="welcome-banner">
    <app-header></app-header>
    <br>
    <br>
    <main class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>hello, I am</h3>
          <h1>Ozor Michael</h1>
          <h4>A frontend web developer and transcriber</h4>
          <br>
          <button class="btn btn-default"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Me</button>
        </div>
        <div class="col-md-6">
          <div id="img-thumbnail">

          </div>
        </div>
      </div>
    </main>


  </div>
