<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 shadow-lg">
        <div id="myImage">
          <!-- <img class="rounded" src="assets/img/profile.jpeg" alt="user picture"> -->
        </div>
      </div>
      <div id="myDetail" class="col-md-8 col-sm-6 col-xs-12">
        <h2><span>I am Ozor Michael,</span>
          <br>
          I am a passionate web developer <br> with about 2 years plus experience.
        </h2>
        <p>lskoghalkdsloshdklsnsl <br>lskoghalkdsloshdklsnsl
          lsdsloshdklsnsllskoghalkdsloshdklsnsllsk
          oghalkdsloshdklsnsl<br>
          lskoghalkdsloshdklsnsllskoghalkdsloshdkls<br>
          nsllskoghalkdsloshdklsnsllskoghalkl</p>
        <button class="btn btn-lg">Download CV</button>
        <button class="btn btn-md">Hire Me</button>
      </div>
    </div>
  </div>
</section>
