<section class="mt-5 mb-5">
  <div id="skills" class="container">
    <div id="top-div" class="text-center">
      <h2>My <span class>Experience</span></h2>
      <p>lskoghalkdsloshdklsnsllskoghalkd
        sloshdklsnsllskoghalkdsloshdklsnsllskoghal
      </p>

    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="text-right">
          <h4>2 years</h4>
          <p>2013 - 2014</p>
        </div>
        <div class="text-right">
          <h4>UI/UX Design</h4>
          <p>lskoghalkdsloshdklsnsllskoghalkd
            sloshdklsnsllskoghalkdsloshdklsnsllskoghal</p>
          </div>
          <div class="text-right">
            <h4>2 years</h4>
            <p>2018 - 2019</p>

          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="text-left">
            <h4>Web graphics Design</h4>
            <p>lskoghalkdsloshdklsnsllskoghalkd
              sloshdklsnsllskoghalkdsloshdklsnsllskoghal</p>
            </div>
            <div class="text-left">
              <h4>3 years</h4>
              <p>2018 - 2020</p>

            </div>
            <div class="text-left">
              <h4>Transcribing</h4>
              <p>lskoghalkdsloshdklsnsllskoghalkd
                sloshdklsnsllskoghalkdsloshdklsnsllskoghal</p>
            </div>
      </div>
    </div>
  </div>
</section>

