<!--Dom Elements for displaying users comments.-->
<!--Contains a card for comments display-->


<section class="mt-3 mb-3">
  <!--card discription starts -->
    <div id="description">
      <h1>My Awesome <span>Services</span></h1>
      <p>lskoghalkdsloshdklsnsllskoghalkd
        sloshdklsnsllskoghalkdsloshdklsnsllskoghal
        </p>
    </div>
<!--card discription ends-->

<!--Individual Cards-->
    <div id="card-container" class="container">
        <div class="card shadow-lg rounded  ">
          <div class="card-body">
            <img class="rounded-circle" src="assets/img/profile.jpeg" alt="clien-picture">
            <br>
            <h6 class="card-title"> Web Design & Development</h6>
            <p class="card-text">lskoghalkdsloshdklsnsllskoghal
              kdsloshdklsnsllskoghalkdslo
              shdklsnsl since 2018.</p>
          </div>
        </div>
        <div class="card rounded shaow-lg ">
          <div class="card-body">
            <img class="rounded-circle" src="assets/img/profile.jpeg" alt="clien-picture">
            <br>
            <h6 class="card-title"> Web Design & Development</h6>
            <p class="card-text">lskoghalkdsloshdklsnsllskoghal
              kdsloshdklsnsllskoghalkdslo
              shdklsnsl since 2018.</p>
          </div>
        </div>
        <div class="card rounded shaow-lg ">
          <div class="card-body">
            <img class="rounded-circle" src="assets/img/profile.jpeg" alt="clien-picture">
            <br>
            <h6 class="card-title"> Web Design & Development</h6>
            <p class="card-text">lskoghalkdsloshdklsnsllskoghal
              kdsloshdklsnsllskoghalkdslo
              shdklsnsl since 2018.</p>
          </div>
        </div>
        <div class="card rounded shaow-lg ">
          <div class="card-body">
            <img class="rounded-circle" src="assets/img/profile.jpeg" alt="clien-picture">
            <br>
            <h6 class="card-title"> Web Design & Development</h6>
            <p class="card-text">lskoghalkdsloshdklsnsllskoghal
              kdsloshdklsnsllskoghalkdslo
              shdklsnsl since 2018.</p>
          </div>
        </div>
    </div>
    <!--cards ends-->


  </section>
