<section>
  <div class="container">
    <div  class="text-center">
      <h2>Contact <span>Me</span></h2>
      <p>lskoghalkdsloshdklsnsllskoghalkd
          sloshdklsnsllskoghalkdsloshdklsnsllskoghal
      </p>
    </div>
    <br>

      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="c">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </a>
              <div style="display: inline-block;">
              <h6>Address</h6>
              <p>Enugu, Nigeria.</p>
              </div>
            </div>
            <div  class="c">
              <a href="">
                <i class="fa fa-mobile-phone" aria-hidden="true"></i>
              </a>
              <div style="display: inline-block;">
                <h6>Phone</h6>
                <p>08144373555</p>
              </div>
            </div>
            <div class="c">
              <a href="">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </a>
              <div style="display: inline-block;">
                <h6>Email</h6>
                <p>michaelozor15@gmail.com</p>
              </div>
            </div>

          </div>

          <div class="col-md-8 col-sm-6 col-xs-12">
            <form action="" class="form">
              <div class="form-group">
                <input class="inp" type="text" placeholder="name">
                <input class="inp" type="text" placeholder="email">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="subject">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="message">
              </div>
              <button class="btn btn-md rounded-top"> send message</button>
            </form>
          </div>
      </div>

  </div>
</section>
